<div class="section section--mobile">
  <div class="container">
    <div class="header__mobile">
      <a class="icon" href="/monexo/">
        <svg class="site-nav__icon" width="150" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="mobile__button is-open"
        data-menu-button
        aria-expanded="false"
      >
        <svg
          class="button__mobile--svg"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="header__svg is-open"
            href="./images/icons.svg#icon-burger"
          ></use>
        </svg>
        <svg
          class="button__mobile--close"
          width="40"
          height="40"
          aria-label="Переключатель мобильного меню"
        >
          <use
            class="mobile__svg is-open"
            href="./images/icons.svg#icon-burger-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<header class="header">
  <div class="header_content">
    <div class="header_icon">
      <a class="site_nav__link" href="/">
        <svg class="site-nav__icon" width="213" height="38">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div class="site_nav">
      <div class="site_nav__box">
        <ul class="site_nav__list">
          <li class="site_nav__item link-current_show">
            <a class="site_nav__link" href="/monexo/">Home</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="./partner.html">Partner</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link js_hover_element" href="">Invest</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="">Features</a>
          </li>
          <li class="site_nav__item">
            <a class="site_nav__link" href="">Contact-us</a>
          </li>
          <li class="site_nav__item__login">
            <a class="login_color" href="">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="investor_hero">
    <div class="container">
      <div class="investor_box">
        <div class="investor_box__title">
          <h2 class="investor_title">Institutional Investing</h2>
          <ul>
            <li>
              <p>HUF</p>
            </li>
            <li>
              <p>Private Ltd Co.</p>
            </li>
            <li>
              <p>Family offices</p>
            </li>
          </ul>
        </div>
        <div class="investor_box__image">
          <img src="./images/investor_hero_image.png" alt="image_investor" />
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <div class="footer_box">
      <div class="footer_box__icon">
        <img class="footer_logo" src="./images//monexo_logo_small.svg" alt="" />
        <p class="footer_text">Оставайтесь с нами на связи</p>
        <ul class="footer_list__icon">
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-facebookf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-instagramf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-linkedinf"></use>
              </svg>
            </a>
          </li>
          <li class="footer_list__item_icon">
            <a class="footer_icon__social" href="">
              <svg width="16" height="16">
                <use href="./images/icons.svg#icon-twitterfo"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_box__icon">
        <a href="/">
          <p class="footer_text">Партнёр с нами</p>
        </a>
        <a href="">
          <p class="footer_text">Институциональный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Индивидуальный ивестор</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Расти</p>
        </a>
        <a href="">
          <p class="footer_text">Монеско Авто Инвест</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">О нас</p>
        </a>
        <a href="">
          <p class="footer_text">Контакт</p>
        </a>
        <a href="">
          <p class="footer_text">Блоги</p>
        </a>
        <a href="">
          <p class="footer_text">Производительность портфеля</p>
        </a>
        <a href="">
          <p class="footer_text">Кредит с Монеско</p>
        </a>
      </div>
      <div class="footer_box__icon">
        <a href="">
          <p class="footer_text">Поддержка и часто задаваемые вопросы</p>
        </a>
        <a href="">
          <p class="footer_text">Безопасность</p>
        </a>
        <a href="">
          <p class="footer_text">Политика конфеденциальности</p>
        </a>
        <a href="">
          <p class="footer_text">Условия и положения</p>
        </a>
      </div>
      <div class="footer_box__icon footer_app__show">
        <p class="footer_app__title">Приложение Монеско для инвесторов</p>
        <ul class="footer_app__list">
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="google"
              src="./images/footer_google.png"
            />
          </li>
          <li class="footer_app__item">
            <img
              class="footer_image__app"
              alt="apple"
              src="./images/footer_apple.png"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container footer_container">
    <div class="footer_box__label">
      <img
        class="image_footer__label"
        src="./images/footer_icon_label.png"
        alt="label"
      />
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Резервный банИндии не берет на себя никакой ответствености за
        правильность каких-либо заявлений или представлений,или
        мненийбвыраженных Monexo , и не дает никаких гарантий погашения
        кредитов, предоставленых ему
      </p>
    </div>
    <div class="footer_box__label">
      <p class="footer_labe__text">
        Monexo Fintech Privat Limited (www.monexo.co) имеет действующее
        свидетельство о регистрации (CoR) от 28 июня 2018 года выданное
        Резервным банком Индии в соответсвии с разделом 45 IA Закона о Резервном
        банке Индии 1934 года.
      </p>
    </div>
    <div>
      <p class="footer_labe__text">
        @ Авторское право Монексо.Все права защищены.
      </p>
    </div>
  </div>
</footer>
<div class="mobile__block is-open" data-menu>
  <ul class="site_nav__list site-nav__list_mobile">
    <li class="site_nav__item">
      <a class="site_nav__link" href="">Home</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="">Partner</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="">Invest</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="">Features</a>
    </li>
    <li class="site_nav__item">
      <a class="site_nav__link" href="">Contact-us</a>
    </li>
    <li class="site_nav__item__login">
      <a class="login_color" href="">Login</a>
    </li>
  </ul>
</div>
<div class="hover_block is-open js_hover_Menu">
  <p class="hover_title">Invest</p>
  <span class="hover_border"></span>
  <div class="hover_box">
    <a class="hover_box__site">
      <img
        class="hover_box__image"
        alt="image"
        src="./images/hover_box_image_first.png"
      />
      <div>
        <h3 class="hover_box__title">Institutional Investors</h3>
        <p class="hover_box__text">
          Investment opportunities for institutions such as Banks Invesment,
          Funds Wealth and Offices.
        </p>
      </div>
    </a>
    <a class="hover_box__site">
      <div class="hover_box__site">
        <img
          class="hover_box__image"
          alt="image"
          src="./images/hover_box_image_second.png"
        />
        <div>
          <h3 class="hover_box__title">Individual Investors</h3>
          <p class="hover_box__text">
            Facilitates discovery and trading of exclusive p2p opportunities,
            enabling you to make prudent investments.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
