.header {
  position: fixed;
  width: 1680px;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  padding: 15px 0px 15px 0px;
  box-shadow: -1px 10px 5px 0px rgb(206 239 233 / 26%);
  background-color: white;
  z-index: 99;
}
.header_content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.header_icon {
  padding: 10px;
}
