.present {
  padding: 50px 0px 50px 0px;
  background-color: #eaeaea63;
}
.present_box__title {
}
.present_title__color {
  background: linear-gradient(254.28deg, #ceefe9 -20.22%, #0c849c 111.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.present_title {
  color: #2b3453;
  font-family: 'Volkhov', Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}
.present_text {
}
